* {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 16px;
}
.our_service {
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url(./Asset/Image/banner_first.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    z-index: 0;
}

.center_banner {
    width: 100%;
    background-image: url(./Asset/Image/second_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    height: 100%;
    position: relative;
    z-index: 0;
}
.mobile_service{
    display: none;
}
.service_bottom{
    display: block;
    display: flex;
}

.banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(9 9 9 / 57%);
}

.center_banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(9 9 9 / 57%);
}

.title {
    color: #fff;
    max-width: 50%;
    padding: 70px 0px 20px;
}

.title h2 {
    font-size: 95px;
    font-weight: 700;
    padding-bottom: 20px;
}

.title a {
    text-decoration: underline;
    font-size: 30px;
}
.service_lef:nth-child(even) .service_main {
    flex-direction: row-reverse;
}
.service_lef:nth-child(even) .service_main .left_img::before{
    left: 85px;
} 
.service_lef:nth-child(even) .service_main .service_title{
    text-align: right;
} 

.title i {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px;
}

.title Link {
    text-decoration: underline;
}

.second_banner {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 75px 0px;
    justify-content: center;
    align-items: center;
}

.second_banner .title {
    padding: 50px;
}

.second_banner .title i {
    font-size: 25px;

}

.project_stage {
    background-color: #fff;
    padding: 50px;
}

.project_stage h2 {
    font-size: 75px;
    color: #000;
    font-weight: 700;
    padding-bottom: 57px;
}

.project_box h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.project_box h6,
.project_box span {
    color: gray;
}

.our_service {
    background-color: #000;
    width: 100%;
    height: 100%;
    padding: 50px 0px 78px;
}

.our_service h2 {
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    width: 34%;
}

/* .our_service .container{
    max-width: 1369px;
} */
.service_content {
    color: #ffff;
}

.service_title h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.service_title p {
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
}

.service_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 110px 170px;
}

.service_second_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 170px;
}

.left_img {
    position: relative;
    z-index: 1;
}

.left_img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 20px solid #3a3838;
    top: 0px;
      left: -118px;
    z-index: -1;
    transform: translateY(-44px);
}

.right_img {
    z-index: 1;
    position: relative;
}

.right_img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 20px solid #3a3838;
    top: 0px;
    right: -65px;
    z-index: -1;
    transform: translateY(-44px);
}

.service_second_main .service_title {
    text-align: right;
}

.gallery {
    background-color: #3a3838;
    width: 100%;
    padding-bottom: 50px;
}

.owl-item {
    position: relative;
}

.owl-item.active {
    position: relative;
}

.owl-item.active::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(9 9 9 / 0%);
}

.owl-item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(9 9 9 / 47%);
}

.gallery h2 {
    font-size: 145px;
    font-weight: 700;
    color: honeydew;
    opacity: 0.5;
    position: relative;
    transform: translateY(39px);
    z-index: 2;
}

.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px;
}

.story_content h2 {
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 20px;
}

.story_content p {
    font-size: 20px;
    font-weight: 500;
}

.contact {
    background-color: #000;
    padding: 30px;
}

.contact h2 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}

.service_bottom {
    padding-top: 80px;
}

.our-story {
    padding-top: 50px;
    padding-bottom: 50px;
}

.forms {
    background-image: url(./Asset/Image/form_back.png);
    width: 100%;
    height: 100%;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
}

.forms_back {
    background-image: url(./Asset/Image/forms.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.right_forms {
    background-color: #000;
    height: 100%;
    opacity: 0.8;
    color: #fff;
    padding: 60px;
}

.forms_content h2 {
    font-size: 35px;
    line-height: 56px;
    font-weight: 600;
}

.forms_content p {
    line-height: 50px;
    padding-bottom: 20px;
}

.social_media {
    background-color: #1a1919d6;
    width: 100%;
    padding: 50px 50px 20px;
    color: #fff;
}

.social_media h2 {
    text-align: center;
    font-size: 55px;
    padding-bottom: 70px;
    font-weight: 600;
}

.social_child {
    justify-content: space-evenly;
}

.social_thired {
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.social_child a {
    font-size: 17px;
}

/* .social_icons_back {
    background: black;
    padding: 18px;
    border-radius: 100%;
} */
.social_icons_back {
    background: black;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_forms {
    background-color: #343434d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps_box {
    display: flex;
    background-color: #fff;
    padding: 40px;
    color: #000;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 34px;
}

.maps_icon {
    padding: 21px;
}

.maps h5 {
    font-weight: 700;
    font-size: 23px;
}

.maps p {
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.form-control {
    line-height: 2.5;
}

.footer {
    background-image: url(./Asset/Image/second_banner.jpg);
    width: 100%;
    height: 100%;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.footer::before{
     content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(9 9 9 / 77%);

}

.footer_title {
    color: #fff;
}

.footer_title h2 {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer_title p {
    font-size: 18px;
}

.row.first_footer {
    border-bottom: 3px dotted rgb(114, 114, 114);
    padding-bottom: 20px;
}

.second_footer {
    padding: 50px 0px 50px;
    color: #fff;
}

.last_footer {
    display: flex;
    color: #fff;
    justify-content: start;
    gap: 50px;
}

.thred_footer h2 {
    font-size: 35px;
    font-weight: 700;
}

.last_footer p {
    font-size: 19px;
    font-weight: normal;

}

.footer .container {
    max-width: 1235px;
}

.project_error {
    opacity: 0.3;
}

.project_process {
    opacity: 0.5;
}

.mobile_view {
    display: none;
}
.Tab_view{
    display: none;
}
.right_img img, .left_img img{
    width: 500px;
    height: 300px;
}


/* new style */
  
.error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
  }
  
  .checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  nav h3 {
    margin: 1rem;
    cursor: pointer;
    color: #718096;
  }
  nav h3:hover {
    color: white;
  }
  
  form {
    margin: 0 auto;
  }
  
  form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 1rem 0 0.2rem;
  }
  
  input,select,textarea {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: #000;
    border: 2px solid #4a5568;
    border-radius: 10px;
    outline: none;
  }
  
  input:focus,
  select:focus {
    border-color: #4299e1;
  }
  
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #a0aec0;
  }
  
  input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.5rem;
    transform: scale(1.25);
  }
  
  button {
    display: block;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
    background-color: #4299e1;
    color: #1a202c;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  input.input-error,
  select.input-error,
  textarea.input-error {
    border-color: #fc8181;
  }
  
  button:disabled {
    opacity: 0.35;
  }
  .our_service ul li{
    list-style-type:circle;
  }

@media (max-width: 769px) {
    .title {
        max-width: 100%;
        padding: 50px 2px 31px;
    }
    .mobile_service{
        display: block;
    }

    .title h2 {
        font-size: 35px;
        padding-bottom: 10px;
    }

    .second_banner .title i,
    .title i {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .service_bottom{
        display: none;
    }

    .title a {
        font-size: 20px;
    }

    .second_banner {
        padding: 30px 0px;
    }

    .second_banner .title {
        padding: 20px;
    }

    .project_stage {
        padding: 30px;
    }

    .project_stage h2 {
        font-size: 40px;
        padding-bottom: 40px;
    }

    .project_small {
        padding-bottom: 20px;
    }
    .Tab_view{
        display: none;
    }

    .our_service h2 {
        font-size: 40px;
    }

    .service_main {
        padding: 25px;
    }

    .left_img::before,
    .right_img:before {
        display: none;
    }

    .service_second_main {
        padding: 25px;
    }

    .footer,
    .story {
        padding: 25px;
    }

    .right_forms,
    .left_forms,
    .maps_box {
        padding: 14px;
    }

    .forms {
        padding: 22px;
    }

    .contact h2 {
        font-size: 40px;
    }

    .forms_content p {
        line-height: 22px;
    }

    .gallery h2 {
        font-size: 60px;
    }

    .our-story {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .social_media {
        padding: 20px 10px 10px;
    }

    .gallery {
        padding-bottom: 25px;
    }

    .mobile_view {
        display: block;
    }

    .desktop_view {
        display: none;
    }
    .social_thired {
        justify-content: center;
        text-align: center;
        padding-bottom: 33px;
    }

    .social_media h2 {
        text-align: center;
        font-size: 40px;
        padding-bottom: 40px;
    }

    .social {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: center;
        text-align: center;
        padding-bottom: 21px;
    }

    .forms .container {
        padding: 0px;
    }

    .story_content h2 {
        font-size: 40px;
        padding-bottom: 10px;
    }
    .social_icons_back {
        background: black;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:700px) and (max-width: 1200px) {
    .title {
        max-width: 100%;
    }
    .left_img::before {
        left: -35px;
    }
    .social_thired {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .right_img:before {
        right: -28px;
    }

    .title h2 {
        font-size: 55px;
        width: 50%;
    }
    .Tab_view{
        display: block;
    }

    .title i {
        font-size: 27px;
    }

    .second_banner .title {
        padding: 28px;
    }

    .project_small {
            padding-bottom: 26px;
    }

    .project_stage h2 {
        font-size: 50px;
        padding-bottom: 40px;
    }

    .project_stage {
        padding: 27px;
    }

    .our_service h2 {
        font-size: 50px;
        width: 34%;
        padding-bottom: 52px;
    }

    .service_main {
        padding: 23px;
    }

  

    .gallery h2 {
        font-size: 90px;
    }

    .our-story {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .forms {
        padding: 19px;
    }

    .social_media {
        padding: 16px 10px 28px;
    }

    .social {
        padding-top: 0px;
    }

    .left_forms {
        padding: 45px;
    }

    .story_content {
        padding-bottom: 25px;
    }

    .story {
        padding: 32px;
    }
    .social_media h2 {
        padding-bottom: 40px;
    }
    .mobile_view{
        display: none;
    }
    .desktop_view{
        display: none;
    }
    .social_thired {
        padding-bottom: 30px;
    }
}